footer{
background-color: #bf404c;
display: block;
padding-top: 20px;

}

footer flex{
display: flex;
flex-direction: column;
gap: 20px;
height: fit-content;
align-items: center;
justify-content: space-between;
}

footer flex h1{
text-transform: uppercase;
color: #f1f1f1;
letter-spacing: 1.5px;
}

footer flex p{
background-color: #f1f1f1;
width: 100%;
color: black;
text-align: center;
margin: 0;
padding: 10px 0;
text-transform: capitalize;
}
footer flex p span{
border-bottom: #bf404c solid 2px;
font-weight: bold;
color: #bf404c;

}